.module-panel {
  border-radius: 4px;
  background-color: #fff;
  padding: 10px 20px 20px 20px;
  line-height: 2;
  flex: 1;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
  .header {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    .title {
      color: #000;
      font-size: 16px;
      //border-bottom: 2px solid @primary-color;
      padding-bottom: 5px;
    }
    .more {
      color: #666;
      font-size: 14px;
    }
  }
  .item {
    display: flex;
    justify-content: space-between;
  }
}
