.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  .header {
    height: 50px;
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 20px;
  }
  .content {
    display: flex;
    flex: auto;
    .left {
      min-width: 220px;
      background-color: #fff;
    }
    .right {
      max-width: calc(100% - 220px);
      margin-left: 15px;
      width: calc(100% - 220px);
      background-color: #fff;
      padding: 20px;
    }
  }
}
