.expense-management-page {
  .notice {
    background-color: #e6e8f8;
    padding: 20px 10px;
    margin: 20px 0;
    line-height: 2;
    .notice-title {
      font-size: 16px;
      font-weight: 600;
    }
    .notice-content {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.5);
    }
  }
  .expert-total {
    background-color: #ffc71c19;
    padding: 20px;
    display: flex;
    margin-bottom: 20px;
    .total-unit {
      margin-right: 50px;
      .text {
        color: rgba(0, 0, 0, 0.6);
        font-size: 16px;
        font-weight: 600;
      }
      .number {
        color: #ffc71c;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
  .time-remain {
    background-color: #fff;
    padding: 20px;
    font-size: 16px;
  }
}
