.customer_layout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .layout_sider {
    box-shadow: 2px 0 8px 0 rgb(29 35 41 / 5%);
    z-index: 2;
  }
  .layout_header {
    background-color: #fff;
    box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
    z-index: 1;
  }

  .layout_content {
    padding-bottom: 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    .router_content {
      padding: 0 24px;
      display: flex;
      flex-direction: column;
      flex: auto;
      position: relative;
    }
  }
}
