.content {
  p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 20px;
    margin-bottom: 10px;
    font-size: 13px;
    color: #363636;
    cursor: pointer;
  }
}
