.login-page {
  background-color: #f7f8fd;
  background-image: url(https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg);
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    .login-image {
      width: 400px;
      height: 400px;
    }
    .right {
      flex: 1;
      position: relative;
      top: -20px;
      .login-title {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 35px;
        text-align: center;
      }
      .login-form {
        input {
          height: 40px;
        }
        .p-link {
          text-align: center;
        }
        button {
          width: 100%;
          height: 40px;
          margin: 20px 0;
        }
        .forget-password {
          float: right;
        }
      }
    }
  }
}
