.todo-page {
  .todo-total {
    background-color: #ffc71c19;
    padding: 20px;
    margin: 20px 0;
    .todo-label {
      color: rgba(0, 0, 0, 0.6);
      font-weight: 600;
      vertical-align: middle;
    }
    .todo-count {
      color: #ffc71c;
      font-weight: 600;
      font-size: 18px;
      padding-left: 10px;
      vertical-align: middle;
    }
  }
}
