.initialSingle {
  @media screen {
    width: 70%;
    @media (min-width: 1440px) {
      width: 70%;
    }
    @media (max-width: 1440px) {
      width: 80%;
    }
    @media (min-width: 1920px) {
      width: 60%;
    }
  }
}
