.btns {
  position: fixed;
  bottom: -20px;
  width: calc(100% - 260px);
  margin-left: -24px;
  background-color: #fff;
  text-align: right;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 20px;
  .ant-btn {
    margin-right: 20px;
  }
}
