.subject-info-page {
  .table-part {
    position: relative;
  }
  .expert-switch {
    margin-top: 24px;
    background: #fff;
    padding: 20px 10px;
    .ant-radio-button-wrapper {
      color: rgba(0, 0, 0, 0.5);
      &.ant-radio-button-wrapper-checked {
        color: @primary-color;
      }
    }
  }
  .ant-table {
    overflow: scroll;
    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td,
    .ant-table tfoot > tr > th,
    .ant-table tfoot > tr > td {
      white-space: nowrap;
    }
  }

}
