.timeConfigUnit {
  // background-color: rgba(230, 247, 255, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px;
  margin: 0 10px 10px;
  font-size: 16px;

  .title {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    .switchTitle {
      font-size: 16px;
      display: flex;
      align-items: center;
    }
  }

  .message {
    color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
  }
  .dateUnit {
    display: flex;
    margin-bottom: 24px;
    align-items: center;
    .to {
      padding: 5px 10px;
    }
    :global(.ant-form-item) {
      margin-bottom: 0;
    }
  }
  input {
    text-align: center;
  }
  .addButtonIcon {
    font-size: 20px;
    color: #1890ff;
    margin-left: 20px;
  }
  .deleteButtonIcon {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 20px;
  }
}
