.account-panel {
  //background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 710px;
  //border: 1px solid rgba(0, 0, 0, 0.1);
  //border-radius: 4px;
  //box-shadow: 0px 2px 10px #00000059;
  //padding: 20px 150px;
  .ant-input-affix-wrapper {
    padding: 0 11px;
    //background-color: #666ee819;
    //border: none;
  }
  .ant-input-affix-wrapper-focused {
    border-color: @primary-color;
  }
  .input-icon {
    font-size: 20px;
    color: @primary-color;
    padding-right: 10px;
  }
  input {
    //background-color: transparent;
    //border: none;
  }
}
