.duplicate-management-page {
  .duplicate-total {
    background-color: #ffc71c19;
    padding: 20px;
    display: flex;
    margin-bottom: 20px;
    .total-unit {
      margin-right: 50px;
      .text {
        color: rgba(0, 0, 0, 0.6);
        font-size: 16px;
        font-weight: 600;
      }
      .number {
        color: #ffc71c;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
  .time-remain {
    background-color: #fff;
    padding: 20px;
    font-size: 16px;
  }
}
