.registerInfo {
  background: #fff;
  border-radius: 1px solid rgba(0, 0, 0, 0.01);
  padding: 24px 48px;
  box-shadow: 0px 0 10px rgb(0 0 0 / 20%);
  margin: 20px auto;
  .status {
    background-color: rgba(230, 247, 255, 0.5);
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
  }
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    .label {
      font-size: 16px;
    }
    .value {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.5);
    }
  }
}
