.customer-header {
  display: flex;
  justify-content: space-between;
  .header-right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    .language-icon {
      font-size: 25px;
      padding: 0 10px;
      margin-left: 15px;
    }
    .username {
      padding-left: 10px;
      font-size: 16px;
    }
  }
}
