.login-panel {
  border-radius: 4px;
  width: 450px;
  background-color: #fff;
  padding: 10px 20px 20px 20px;

  .title {
    font-size: 16px;
  }

  .login-type {
    color: @primary-color;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .type-message {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
  }

  .login-btn {
    height: 79px;
    display: flex;
    align-items: center;
  }
}
