.about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 128px;
  margin: 0 30px;
  .item-us {
    text-align: center;
    .icon-font {
      &.icon {
        color: @primary-color;
        font-size: 38px;
        vertical-align: sub;
      }
    }
  }
  .divider {
    border-left: 1px solid #ccc;
    height: 30%;
  }
}