.profile_setting {
  background-color: #fff;
  padding: 16px;
  margin-top: 24px;
  :global(.profile_title) {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 24px;
  }
  .cu_tabs {
    flex: auto;
    :global(.ant-tabs-nav) {
      width: 150px;
    }
  }
}
