.overview-page {
  margin: 10px 60px;
  font-size: 14px;
  .welcome {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
  }
  .title {
    font-size: 16px;
    font-weight: 600;
    color: #000;
  }
  .panel-line {
    display: flex;
    .project-view {
      flex: 1;
      background-color: #fff;
      padding: 20px;
      line-height: 2.5;
      color: rgba(0, 0, 0, 0.6);
    }
    .project-schedule {
      background-color: #fff;
      flex: 1;
      margin-left: 20px;
      padding: 20px;
    }
  }
}
