.switch-config {
  margin-bottom: 10px;
  padding: 10px;
  // background-color: rgba(230, 247, 255, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.inner {
    padding: 0;
    margin-top: 10px;

    .config-title {
      font-weight: 500;
      font-size: 14px;
    }
  }

  .config-title {
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 10px;
  }

  .config-label {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
  }
}
