.inputConfig {
  margin-bottom: 10px;
  padding: 10px;
  // background-color: rgba(230, 247, 255, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  .inputConfigTitle {
    // border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 16px;
    font-weight: 600;
    line-height: 2;
    margin-bottom: 10px;
  }
  .inputConfigFlex {
    display: flex;
    align-items: center;
    margin: 10px 0;
    .unit {
      padding-right: 20px;
    }
  }
  .editButton {
    margin-right: 20px;
  }

  .configMessage {
    margin: 10px 0;
    color: rgba(0, 0, 0, 0.5);
  }
}
