.count_bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  margin: 0 -24px;
  padding: 10px 24px;

  .inner {
    padding: 10px;
    background-color: rgba(230, 247, 255, 0.5);
    display: flex;
    flex: 1;
    .left {
      display: flex;
      align-items: center;
      .totalUnit {
        margin-right: 60px;
        .title {
          color: rgba(0, 0, 0, 0.5);
          font-size: 14px;
        }

        .count {
          color: #91d5ff;
          font-size: 18px;
          font-weight: 600;
        }
      }
    }

    .right {
      flex: 8;
      overflow: hidden auto;

      .line {
        display: flex;
      }
      .noSpan {
        margin-right: 60px;
      }
      .title {
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
      }

      .count {
        color: #91d5ff;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}
