.projectEdit {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  .comment {
    margin-bottom: 20px;
  }
  .title {
    font-size: 16px;
    font-weight: 600;
  }
  .itemStyle {
    margin-right: 30px;
  }
}
