.planAndTaskEdit {
  .body {
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    .title {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    input {
      width: 80%;
    }
  }
}
