.module_panel {
  border-radius: 4px;
  background-color: #fff;
  padding: 10px 20px 20px 20px;
  line-height: 2;
  flex: 1;
  .header {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    .title {
      color: #000;
      font-size: 16px;
      padding-bottom: 5px;
    }
  }
  .a_link {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
  }
}
