.page_tabs {
  background-color: #fff;
  height: 50px;
  padding: 0 24px;
  .tabName {
    display: flex;
    align-items: center;
    .text {
      padding-right: 10px;
    }
    .tabIcon {
      color: rgba(0, 0, 0, 0.5);
      margin-right: 0;
    }
  }
}
