.footer {
  color: #797979;
  font-size: 12px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  .content {
    text-align: center;
  }
  p {
    line-height: 20px;
    span {
      margin-right: 10px;
      label {
        margin-right: 5px;
      }
    }
  }
}