.planTableInfo {
  background: #fff;
  border-radius: 1px solid rgba(0, 0, 0, 0.01);
  padding: 24px 48px;
  box-shadow: 0px 0 10px rgb(0 0 0 / 20%);
  margin: 20px auto;

  .title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }

  .subTitle {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
  }

  .info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    text-align: center;

    tr,
    td,
    th {
      padding: 10px 0;
    }
  }
}