.page-title-component {
  font-size: 18px;
  font-weight: 600;
  vertical-align: middle;
  margin-bottom: 20px;
  &::before {
    content: '';
    width: 5px;
    height: 18px;
    display: inline-block;
    background-color: @primary-color;
    vertical-align: middle;
    margin-right: 10px;
  }
  span {
    vertical-align: middle;
  }
}
