.register-page {
  background-color: #f7f8fd;
  background-image: url(https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg);
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  .title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center;
  }
  .step-title {
    color: @primary-color;
  }
  .custom-form {
    margin-top: 20px;
    input {
      height: 40px;
    }
    .ant-select-selector {
      height: 40px;
      align-items: center;
      //background-color: #666ee819;
      //border: none;
    }
    .select-icon {
      margin-top: 10px;
      position: absolute;
      z-index: 10;
      margin-left: 12px;
    }
    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      padding: 0 11px 0 45px;
    }
    .radio-notice {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.4);
    }
    .form-footer {
      text-align: center;
      button {
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
      }
    }
    .step3-message {
      text-align: center;
      margin: 40px 0;
      .success-icon {
        font-size: 40px;
        color: @primary-color;
      }
      .success {
        color: @primary-color;
        font-size: 18px;
      }
      .success-text {
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
      }
    }
  }
  .ant-radio-wrapper {
    color: rgb(0 0 0 / 65%);
  }
}
