.detail {
  h1 {
    text-align: center;
    font-size: 24px;
  }
  p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 20px;
    font-size: 13px;
    color: #797979;
    border-bottom: 1px solid #bfbfbf;
    padding: 20px 0;
    label {
      span {
        margin-right: 10px;
      }
    }
  }
}
