.custom-home-layout {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  .custom-header {
    background-color: @primary-color;
    height: auto;
    padding: 0;
  }
  .custom-content {
    overflow: auto;
    .custom-content-content {
      min-height: auto;
    }
    .custom-footer {
      padding: 0;
      background: #fff;
      width: 100%;
      border-top: 1px solid #e3e3e3;
    }
  }

}
