.changeView {
  background: #fff;
  border-radius: 1px solid rgba(0,0,0,0.01);
  padding: 24px;
  box-shadow: 0px 0 10px rgb(0 0 0 / 20%);
  width: 70%;
  margin: 20px auto;
  .field {
    margin-bottom: 20px;
    .label {
      font-size: 16px;
      font-weight: 600;
      margin-right: 16px;
    }
    .value {
      font-size: 14px;
      color: rgba(0,0,0, 0.5)
    }
  }
}