.initialAuditPage {
  .timeRemain {
    font-size: 16px;
    color: orange;
    padding: 20px 24px;
    margin: 0 -24px;
    background-color: #fff;
  }
  .switchTab {
    margin: 0 -24px;
    padding: 10px 24px 0;
  }
}