.table_template {
  border-radius: 4px;
  margin: 16px 0;
  &.isModal {
    margin: 0;
  }
  .top_button {
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
    padding: 10px 10px 0;

    button {
      margin: 0 20px;
    }
  }

  .customer_table {
    padding: 10px;
    background-color: #fff;
  }
}
