.inputText {
  border: 1px solid #d9d9d9;
  padding: 5px;
  min-height: 40px;
  background: #fff;
  border-radius: 2px;
  .tag {
    line-height: 20px;
    margin: 5px;
  }
}
.personSelect {
  border-radius: 4px;
  display: flex;
  .left {
    padding: 20px;
    flex: 1;
    border: 1px solid rgba(0, 0, 0, 0.05);
    height: 500px;
    overflow: auto;
    .tree {
      margin-top: 20px;
    }
  }
  .middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
    .firstButton {
      margin-bottom: 10px;
    }
  }
  .right {
    border: 1px solid rgba(0, 0, 0, 0.05);
    flex: 1;
    padding: 20px;
    .title {
      line-height: 40px;
      display: flex;
      justify-content: space-between;
    }
    .dataContent {
      margin-top: 20px;
      .dataUnit {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5px;
        .deleteButton {
          display: none;
        }
        &:hover {
          background-color: #bae7ff;
          .deleteButton {
            display: inline;
            font-size: 16px;
          }
        }
      }
    }
  }
}
