.movingInfo {
  background: #fff;
  border-radius: 1px solid rgba(0, 0, 0, 0.01);
  padding: 24px;
  box-shadow: 0px 0 10px rgb(0 0 0 / 20%);
  margin: 20px auto;
  .title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}
