.template-component {
  background: #fff;
  border-radius: 1px solid rgba(0, 0, 0, 0.01);
  padding: 24px 48px;
  box-shadow: 0px 0 10px rgb(0 0 0 / 20%);
  margin: 20px 0;

  .title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    width: 70%;
    margin: 0 auto 30px;
  }

  .subTitle {
    margin-top: -30px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
  }

  .blank {
    color: rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
  }

  .item {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    &.between {
      justify-content: space-between;
    }

    &.right {
      justify-content: flex-end;
    }

    .label {
      font-size: 14px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.7);
    }

    .value {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.5);
    }

    .notice {
      font-weight: 600;
      color: rgba(0, 0, 0, 0.3);
    }

    .content {
      font-style: italic;
      color: rgba(0, 0, 0, 0.5);
    }
  }
  .info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .dataUnit {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    line-height: 30px;
  }
  table {
    width: 100%;
    text-align: center;

    tr,
    td,
    th {
      padding: 10px 0;
    }
  }
}
