.change_password_page {
  background-color: #fff;
  min-width: 700px;
  .save_button {
    display: flex;
    justify-content: flex-end;
  }
  .password_form {
    position: relative;
    label {
      font-size: 16px;
    }
    input {
      font-size: 16px;
      height: 40px;
    }
  }
}
