@import 'antd/dist/antd.less';

body {
  height: 100%;
}
.root {
  min-height: 100%;
}

a {
  cursor: pointer;
}
p {
  margin-bottom: 0;
}

input {
  &:-internal-autofill-selected,
  &:-internal-autofill-previewed,
  &:-webkit-autofill,
  &:-webkit-autofill:active,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:hover {
    transition-delay: 999999s;
    transition: color 999999s ease-out, background-color 999999s ease-out;
  }
}

.page-detail-commoncss {
  @media screen {
    width: 70%;
    @media (min-width: 1440px) {
      width: 70%;
    }
    @media (max-width: 1440px) {
      width: 80%;
    }
    @media (min-width: 1920px) {
      width: 60%;
    }
  }
}
