.projectInfo {
  background: #fff;
  border-radius: 1px solid rgba(0,0,0,0.01);
  padding: 24px 48px;
  box-shadow: 0px 0 10px rgb(0 0 0 / 20%);
  width: 70%;
  margin: 20px auto;
  .title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
  }
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    &.between {
      justify-content: space-between;
    }
    &.right {
      justify-content: flex-end;
    }
    .label {
      font-size: 16px;
      font-weight: 600;
    }
    .value {
      font-size: 14px;
      color: rgba(0,0,0, 0.5)
    }
  }
  
}