.forget-password-page {
  background-color: #f7f8fd;
  background-image: url(https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg);
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  .title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 50px;
    text-align: center;
  }
  .found-type {
    margin-bottom: 20px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    span {
      margin-right: 10px;
    }
    .ant-tabs-top > .ant-tabs-nav::before {
      border-bottom: 0;
    }
    .ant-tabs-tab-btn {
      padding: 0 10px;
    }
  }
  .forget-password-form {
    input {
      height: 40px;
    }
    .p-link {
      text-align: center;
    }
    .confirm-button {
      width: 100%;
      height: 40px;
    }
  }
}
