.home-header {
  padding: 10px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  min-width: 800px;
  .left {
    display: flex;
    align-items: center;
    img {
      width: 200px;
      height: 60px;
    }
    .custom-divider {
      width: 3px;
      height: 20px;
      background-color: rgba(0, 0, 0, 0.3);
      margin: 0 20px;
    }
    .header-title {
      font-size: 16px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.3);
      white-space: nowrap;
    }
  }
  .right {
    white-space: nowrap;
    .menu-item {
      display: inline-block;
      font-size: 14px;
      line-height: 2.7;
      width: 96px;
      color: #fff;
      font-weight: 600;
      text-align: center;
      &.en {
        width: 120px;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 4px;
        cursor: pointer;
      }
      &:last-child {
        margin-right: 20px;
      }
    }
  }
}
