.customer-sider {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .title {
    font-size: 24px;
    color: @primary-color;
    font-weight: 600;
    line-height: 70px;
    text-align: center;
    img {
      width: 200px;
      height: 60px;
    }
  }
  .customer-menu {
    overflow: hidden auto;
    &::-webkit-scrollbar {
      width: 4px;
      height: 1px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 20px;
    }
  }
}
