.student-management-page {
  .table-part {
    position: relative;
  }
  .expert-switch {
    // background: #fff;
    padding: 10px 0 0;
    .ant-radio-button-wrapper {
      color: rgba(0, 0, 0, 0.5);
      &.ant-radio-button-wrapper-checked {
        color: @primary-color;
      }
    }
  }
}
