.back-home {
  background: url("../../../assets/header_bg.png") no-repeat;
  .home-page {
    height: 100%;
    max-width: 1200px;
    min-width: 800px;
    width: 90%;
    margin: auto;
    .carousel {
      padding-top: 20px;
      margin-bottom: 20px;
    }
    .carousel-image {
      height: 383px;
      width: 100%;
    }
    .panel-line {
      display: flex;
      margin: 10px 0;
    }
  }
}
