.content {
  p {
    display: flex;
    flex-direction: column;
    line-height: 20px;
    font-size: 13px;
    color: #181C32;
    border-bottom: 1px solid #0000000f;
    padding-bottom: 10px;
    margin-bottom: 10px;
    span {
      font-size: 16px;
      cursor: pointer;
      padding-bottom: 10px;
    }
    label {
      font-size: 12px;
      color: #B5B5C3;
    }
  }
}
